@model Shoevintory.Models.AddShoeToCollectionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AddShoeToCollectionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.CollectionId)
            @Html.HiddenFor(m => m.Shoes)
            <div class="form-group">
                <label asp-for="SelectedShoe" class="control-label"></label>
                <select asp-for="SelectedShoe" asp-items="@Model.Shoes"></select>
                <span asp-validation-for="SelectedShoe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
